:root {
  --color-gold: #d9b310;
  --primary: #ff7300;
  --primary-light: #ffa441;
  --primary-dark: #c44300;
  --secondary: #0b3c5d;
  --secondary-light: #41668a;
  --secondary-dark: #001633;
  --gray: #d9d9d9;
  --gray-dark: #a8a8a8;
  --color-black: #2b2928;
  --red: #d32f2f;
  --red-light: #ff6659;
  --red-dark: #9a0007;
  --padding-thick: 15px;
  --padding-regular: 8px;
  --padding-thin: 5px;
  --box-shadow: #0000004d 0px 1px 2px 0px, #00000026 0px 1px 3px 1px;
  --gradient-primary: linear-gradient(to right bottom, #ff7300, #ff7300);
  --gradient-secondary: linear-gradient(to top left, #fff, #41668a);
}

body {
  background: var(--gray);
  margin: 0;
  padding: 0;
}

body * {
  color: #0000007d;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}

button {
  appearance: none;
  border: none;
  outline: none;
}

.container {
  width: 100%;
  height: 100vh;
  padding: var(--padding-regular);
}

.panels {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  gap: var(--padding-regular);
  background: none;
  flex-direction: column;
  display: flex;
}

.top-panel {
  width: 100%;
  height: 10%;
  background: var(--primary);
  box-shadow: var(--box-shadow);
  padding: calc(var(--padding-regular) * 2) 25px;
  border-radius: 2px;
  align-items: center;
  gap: 10px;
  display: flex;
  position: relative;
}

.top-panel > h1 {
  color: #0000008c;
  flex-grow: 1;
  font-size: 1.25em;
  font-weight: 600;
}

.notification-button {
  color: #fff;
  z-index: 102;
  background: none;
  border-radius: 50%;
  outline: none;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.notification-button > span:first-of-type {
  color: #0000008c;
  font-size: 2.15em;
}

.notification-button .material-icons {
  color: #fff;
}

.badge {
  width: 22px;
  height: 22px;
  min-width: 22px;
  min-height: 22px;
  max-width: 22px;
  max-height: 22px;
  background: var(--secondary-light);
  box-shadow: var(--box-shadow);
  color: #ffffffe0;
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: .8em;
  transition: background .25s, transform .25s;
  display: flex;
  position: absolute;
  top: -9px;
  right: -9px;
}

.badge--hidden {
  display: none;
}

.badge:hover {
  background: var(--secondary-dark);
}

.badge:active {
  transform: scale(.95);
}

.bottom-panel {
  width: 100%;
  height: calc(90% - 10px);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.left-panel {
  height: 100%;
  width: calc(calc((100% * .25))  - var(--padding-thin));
  padding: var(--padding-thick);
  box-shadow: var(--box-shadow);
  background: none;
  border-radius: 2px;
  overflow-y: auto;
  background: #fff !important;
}

.left-panel > h4 {
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: 600;
}

.left-panel > span {
  color: var(--primary);
  margin-top: 10px;
  font-weight: 600;
}

.left-panel > ul {
  padding-left: var(--padding-thick);
  margin-top: 10px;
  font-size: .95em;
}

.left-panel > ul > :not(:last-child) {
  margin-bottom: 10px;
}

.left-panel > ul > li {
  font-size: .95em;
}

.right-panel {
  width: calc(calc((100% * .75))  - var(--padding-thin));
  height: 100%;
  padding: var(--padding-thick);
  box-shadow: var(--box-shadow);
  border-radius: 2px;
  background: #fff !important;
}

.right-panel .title {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}

.slider {
  width: 100%;
  height: 100%;
  background: none;
  position: relative;
  overflow: hidden;
}

.dots {
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.dots > div {
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: flex;
}

.dots__dot {
  opacity: .7;
  cursor: pointer;
  color: var(--gray);
  cursor: pointer;
  background: none;
  border: none;
  transition: color .2s, opacity .2s;
}

.dots__dot:after {
  content: "";
  font-family: Material Icons;
}

.dots__dot:hover {
  color: var(--gray-dark);
}

.dots__dot--active {
  color: var(--gray-dark);
  opacity: 1;
}

.slider-button {
  z-index: 10;
  color: var(--gray);
  opacity: .7;
  cursor: pointer;
  transition: color .2s, opacity .2s;
  position: absolute;
  top: 50%;
  background: none !important;
  border: none !important;
}

.slider-button--prev {
  left: 3%;
  transform: translate(-50%, -50%);
}

.slider-button--prev:after {
  content: "";
  font-family: Material Icons;
  font-size: 2em;
}

.slider-button--next {
  right: 3%;
  transform: translate(50%, -50%);
}

.slider-button--next:after {
  content: "";
  font-family: Material Icons;
  font-size: 2em;
}

.slider-button:hover {
  color: var(--gray-dark);
}

.slider-button:active {
  color: var(--gray-dark);
  opacity: 1;
}

.checkbox {
  cursor: pointer;
  justify-content: center;
  align-items: flex-start;
  display: inline-flex;
  position: relative;
}

.checkbox > span {
  font-size: .95em;
  color: #0000007d !important;
}

.checkbox__input {
  display: none;
}

.checkbox__box--unchecked, .checkbox__box--checked {
  transition: background .15s, border-color .15s;
}

.checkbox__box--unchecked:before {
  content: "";
  background: var(--secondary);
  color: #fff;
  border-radius: 2px;
  margin-right: 5px;
  padding: 2px;
  font-family: Material Icons;
  font-size: .9em;
  transition: color .25s;
  display: block;
}

.checkbox__box--checked:after {
  content: "";
  background: var(--secondary);
  color: #fff;
  border-radius: 2px;
  margin-right: 5px;
  padding: 2px;
  font-family: Material Icons;
  font-size: .9em;
  transition: color .25s;
  display: none;
}

.checkbox__input:checked + .checkbox__box--checked:after {
  display: block;
}

.checkbox__input:disabled + .checkbox__box--checked:before {
  background: var(--gray);
}

.checkbox__input:checked + .checkbox__box--unchecked:before {
  display: none;
}

.checkbox__input:not(:disabled):hover + .checkbox__box--checked:after, .checkbox__input:not(:disabled):hover + .checkbox__box--unchecked:before {
  background: var(--secondary-dark);
}

.slide {
  justify-content: center;
  align-items: center;
  transition: transform .25s ease-out;
  display: flex;
  position: absolute;
  inset: 0 0 5%;
  overflow-y: auto;
}

.slide--from--left {
  animation-name: slide---from--left;
}

.slide--from--right {
  animation-name: slide---from--right;
}

.slide-left-panel {
  height: 100%;
  width: 52%;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  padding: 0 25px 10px 0;
  font-size: 1.5em;
  display: flex;
  position: relative;
}

.slide-left-panel > :not(:last-child) {
  margin-bottom: 10px;
}

.slide-left-panel .checkbox {
  background: var(--secondary);
  border-radius: 5px;
  margin-top: 20px;
  padding: .8em;
  font-family: sans-serif;
  font-size: 14px;
  overflow: hidden;
  box-shadow: 0 0 10px #0000004d;
}

.slide-left-panel .checkbox:hover {
  background: var(--secondary-dark);
}

.slide-left-panel .checkbox span {
  text-align: left;
  font-size: 1.1em;
  font-weight: 500;
  color: #fff !important;
}

.text--checked {
  display: none;
}

.slide-left-panel .checkbox__input:checked ~ .text--checked {
  display: flex;
}

.slide-left-panel .checkbox__input:checked ~ .text--unchecked {
  display: none;
}

.slide-left-panel .checkbox__box--unchecked:before {
  content: "";
  background: none;
  border-radius: 0;
  padding: 0;
  font-size: 1.1em;
  font-weight: 300;
  transition: display .15s;
  color: #fff !important;
}

.slide-left-panel .checkbox__box--checked:after {
  content: "";
  background: none;
  border-radius: 0;
  padding: 0;
  font-size: 1.1em;
  font-weight: 300;
  transition: display .15s;
  color: #fff !important;
}

.slide-left-panel > h1 {
  color: var(--primary);
  text-align: justify;
  font-size: 1.25rem;
}

.slide-left-panel > h4 {
  text-align: justify;
  font-size: 1rem;
  font-weight: 500;
}

.slide-right-panel {
  height: 100%;
  width: 32%;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 25px;
  font-size: .8em;
  display: flex;
  position: relative;
}

.slide-right-panel:before {
  content: "";
  border-left: 1px solid var(--gray);
  height: 80%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.slide-fieldset {
  border: none;
}

.slide-fieldset__legend {
  justify-content: center;
  margin-bottom: 20px;
  display: flex;
}

.slide-fieldset__legend > span, .slide-fieldset__legend > span > strong {
  color: #0000007d;
  font-size: .95em;
}

.slide-fieldset > div:not(:last-child) {
  margin-bottom: 10px;
}

@keyframes slide---from--left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes slide---from--right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide---to--left {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide---to--right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

.accordion {
  width: 100%;
  max-height: 100%;
  font-family: sans-serif;
  overflow: auto;
}

.accordion__label, .accordion__content {
  padding: 3px;
}

.accordion__label {
  cursor: pointer;
  box-shadow: var(--box-shadow);
  color: #000000a8;
  background: var(--primary);
  border-radius: 4px;
  align-items: center;
  margin-bottom: 4px;
  padding: 10px 6px;
  transition: background .25s;
  display: flex;
  position: relative;
  overflow: hidden;
}

.accordion__label:after {
  content: "";
  align-items: center;
  margin: auto;
  font-family: Material Icons;
  font-size: 1.2em;
  transition: transform .2s;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 6px;
}

.accordion__content, .accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
}

.accordion__input:checked ~ .accordion__label:after {
  transform: rotate(.5turn);
}

.service {
  cursor: pointer;
  padding: 10px 6px;
  transition: backgrond .2s;
}

.service__title {
  color: #000000a8;
  margin-bottom: 5px;
}

.service__title strong {
  color: #0000008c;
}

.service__title:before {
  content: "";
  margin-right: 5px;
  font-family: Material Icons;
  font-size: .7em;
}

.service:hover {
  background: #00000008;
  border-radius: 4px;
}

@keyframes form---close {
  to {
    transform: scale(0);
  }
}

.arrow-back {
  cursor: pointer;
  color: var(--gray);
  opacity: .7;
  transition: color .2s, opacity .2s;
}

.arrow-back:before {
  content: "";
  font-family: Material Icons;
  font-size: 1.5em;
}

.arrow-back:hover {
  color: var(--gray-dark);
}

.arrow-back:active {
  color: var(--gray-dark);
  opacity: 1;
}

.instructions {
  max-width: 600px;
  margin-top: 16px;
}

.contents {
  border: none;
  outline: none;
  margin-top: 16px;
}

.contents > legend {
  justify-content: center;
  margin-bottom: 8px;
  font-weight: 600;
  display: flex;
}

.contents > ol {
  max-width: 600px;
  padding: 0 20px;
}

.contents .content:not(:last-of-type) {
  margin-bottom: 16px;
}

.content {
  margin-bottom: 8px;
}

.content:last-of-type {
  margin-bottom: 16px;
}

.notes {
  font-size: .9em;
  font-style: italic;
}

.question, .notes > p {
  line-height: 1.15;
}

.response {
  flex-direction: column;
  gap: 6px;
  display: flex;
}

.radio {
  cursor: pointer;
  justify-content: left;
  align-items: center;
  padding-left: 1.5em;
  display: inline-flex;
  position: relative;
}

.radio__input {
  display: none;
}

.radio__radio {
  width: 1.15em;
  height: 1.15em;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  margin: auto 10px auto auto;
  padding: 2px;
  transition: background .15s;
  position: absolute;
  top: 0;
  left: 0;
}

.radio__radio:after {
  content: "";
  width: 100%;
  height: 100%;
  background: #ff7300;
  border-radius: 50%;
  transition: transform .15s;
  display: block;
  transform: scale(0);
}

.radio__input:checked + .radio__radio:after {
  transform: scale(1);
}

@media (max-width: 428px), (min-height: 813px) {
  body {
    height: 100vh;
    background: none;
  }

  .container {
    height: 100%;
    height: calc(var(--vh, 1vh) * 100);
    background: none;
    background: var(--primary);
    gap: 0;
    padding: 0;
  }

  .panels {
    justify-content: flex-start;
    gap: 0;
  }

  .top-panel {
    width: 100%;
    padding: var(--padding-thick);
    box-shadow: none;
    background: none;
    border-radius: 0;
  }

  .top-panel > h1 {
    font-size: 1.35em;
    font-weight: 600;
  }

  .bottom-panel {
    background: none;
    flex-grow: 1;
    gap: 0;
  }

  .left-panel {
    display: none;
  }

  .right-panel {
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    display: block;
    background: #fffffff2 !important;
  }

  .slider {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .slider-button {
    display: none;
  }

  .slide {
    display: block;
  }

  .slide-left-panel, .slide-right-panel {
    height: auto;
    padding: var(--padding-thick);
    display: block;
    width: 100% !important;
  }

  .slide-left-panel {
    text-align: center;
  }

  .slide-right-panel {
    padding-top: var(--padding-thick);
  }

  .slide-right-panel:before {
    display: none;
  }

  .dots {
    bottom: 1%;
  }
}

@media (max-width: 428px) {
  .form__button, .dateInp, .nameInp, .emailInp {
    width: 100%;
  }
}

/*# sourceMappingURL=index.60928911.css.map */
